streamlit==1.41.1
langchain==0.3.7
langchain-openai==0.2.6
openai==1.54.3
docling==2.14.0
docling-core==2.12.1
docling-ibm-models==3.1.0
docling-parse==3.0.0
pydantic==2.9.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
python-dotenv==1.0.1